<html>
<head>
	<title>Patient Schedule</title>
	{% load staticfiles %}
  {% load range %}
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'jquery.cookie.js' %}"></script>
  <link href="{% static 'x_rotating_card/css/bootstrap.css' %}" rel="stylesheet"/>
  <link href="{% static 'x_rotating_card/css/rotating-card.css' %} " rel="stylesheet"/>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'mysite.css' %}" rel="stylesheet" />
  <style>
   #draggable, #draggable2 { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
   #droppable2 { width: 120px; height: 120px; padding: 0.5em; float: left; margin: 10px; }
   h3 { clear: left; }
   #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  </style>
  <script>
   $(function() {
       $( "#selectable" ).selectable({
       filter: ".unvaccinated"});
   });
  </script>
</head>
<body>
    <div class="container">
        <a href="{% url 'logout' %}">Logout</a>
        <h2>{{ patient.name }} ({{ patient.birthdate }})</h2>
	      <table id="selectable">
		        <tr>
			          <th>Vaccine</th>
                <th>Birth</th>
                <th>1 month</th>
                <th>2 months</th>
                <th>4 months</th>
                <th>6 months</th>
                <th>12 months</th>
                <th>15 months</th>
                <th>18 months</th>
                <th>24 months</th>
                <th>4-6 years</th>
                <th>11-12 years</th>
                <th colspan="2">14-18 years</th>
		        </tr>
            <tr>
                <td rowspan="2" id="hep-b">Hepatitis B</td>
                <td colspan="3" class="ui-widget-content {% if pv.hep_b_first %}vaccinated{% else %}unvaccinated{%endif%}" id="hep_b_first">1st Dose</td>
                <td></td>
                <td rowspan="2" colspan="4" class="third {% if pv.hep_b_third %}vaccinated{% else %}unvaccinated{%endif%}" id="hep_b_third">3rd Dose</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2" class="c {% if pv.catchup %}vaccinated{% else %}unvaccinated{%endif%}" id="hep_b_catchup">catch up</td>
                <td colspan="2" rowspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" class="second {% if pv.hep_b_second %}vaccinated{% else %}unvaccinated{%endif%}" id="hep_b_second">2nd Dose</td>
            </tr>
            <tr>
                <td rowspan="2">Diptheria, Tetanus, Pertussis</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2" class="first">1st dose</td>
                <td rowspan="2" class="second">2nd dose</td>
                <td rowspan="2" class="third">3rd dose</td>
                <td rowspan="2"></td>
                <td colspan="2" rowspan="2" class="fourth">4th dose</td>
                <td rowspan="2"></td>
                <td rowspan="2" class="fifth">5th dose</td>
                <td rowspan="2" colspan="2" class="t">Tetanus + Diptheria</td>
                <td rowspan="2"></td>
           </tr>
            <tr>
            </tr>
            <tr>
                <td rowspan="2">H.Influenzae type B</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Inactivated Polio</td>
            </tr>
            <tr>
                <td>Pneumococcal Conjugate</td>
            </tr>
            <tr>
                <td>Measles, Mumps, Rubella</td>
            </tr>
            <tr>
                <td>Varicella (Chickenpox)</td>
            </tr>
            <tr>
                <td>Hepatitis A</td>
            </tr>
	      </table>
        <div id="draggable" class="ui-widget-content">
            <h4>Vaccinate</h4>
        </div>
    </div>
    <script>
     $(document).ready(function () {
         var csrftoken = $.cookie('csrftoken');

         function csrfSafeMethod(method) {
             // these HTTP methods do not require CSRF protection
             return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
         };

       {% for S in schedules %}
       {% if S.dose_due %}
       $( "#droppable-{{ S.scheduleId}}-{{S.dose_key}}" ).droppable({
           hoverClass: "ui-state-hover",
           drop: function( event, ui ) {
               $( this )
                  .addClass( "ui-state-highlight" )
                  .find( "div" )
                  .html( "Vaccinated!" );

               $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            // send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
               });

               var obj = {}
               $.ajax({
                        url: '{% url 'vaccinate' %}',
                        type: 'POST',
                        data: obj,
                        success: function(res) {},
                        complete: function() {},
                        error: function (xhr, textStatus, thrownError) {}
                    });
           }
       });
       {% endif %}
       {% endfor %}
     });
    </script>

</body>
</html>
