<html>
    <head>
    </head>
    <body>
        <table style="border-width:1; border-style: solid;">
            <tr style="border-width:1; border-style: solid;">
                <td colspan="1" style="border-width:1; border-style: solid;">xx</td>
                <td style="border-width:1; border-style: solid;">xx</td>
                <td style="border-width:1; border-style: solid;">xx</td>
                <td style="border-width:1; border-style: solid;">xx</td>
                <td style="border-width:1; border-style: solid;">xx</td>
            </tr>
            <tr><td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
            </tr>
            <tr>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
            </tr>
            <tr>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
            </tr>
            <tr>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
                <td>xx</td>
            </tr>
        </table>
    </body>
</html>
